{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static "../static/css/style.css" %}">
	<title>Document</title>
</head>
<body>
	<header></header>
	<div class="background"></div>
	<main>
		<section class="aut">
			<div class="autorisation-container">
				<h1 class="logo">Think!</h1>
			    <form class="autorisation" action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
				    <div class="enter-cont">
				    	<button class="enter" name="Login" >Login</button>
					</div>
					 <div class="enter-cont">
				    	<button class="enter" name="Registration" >Registration</button>
					</div>
			    </form>
		    </div>
		</section>
	</main>
	<footer></footer>
</body>
</html>